<section class="user">
  <card class="each-user">
    <img src='<%= @user.photo %>'>
    <div class="user-info">
    <h2><%= @user.name %></h2><br>
    <h4 class="post-num">Number of posts: <%= @user.posts_counter %> </h4>
    </div>
  </card>
  <div class="bio-container">
    <p>Bio</p>
    <p> <%= @user.bio %> </p>
  </div>
  <div class="posts-container">
    <% @posts.each do |post| %>
      <%= link_to "/users/#{@user.id}/posts/#{post.id}", remote: false do %>
        <card class="post-data">
          <div class="post-info">
            <h2> <%= post.title %></h2>
            <p> <%= post.text %> </p>
            <div class="counters">
              <h5 class="comment-num">Comments: <%= post.comments_counter %> </h5>
              <h5 class="like-num">Likes: <%= post.likes_counter %> </h5>
            </div>
          </div>
        </card>
      <% end %>
    <% end %>
  </div>
  <div class="main-btn">
    <%= link_to "/users/#{@user.id}/posts", remote: false do %>
      <p>See all posts </p>
    <% end %>
  </div>
</section>